name: Test Amazon Scraper

on:
  workflow_dispatch:
    inputs:
      asin:
        description: "Product ASIN"
        required: true

jobs:
  scrape-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest

      - name: Install Dependencies
        run: |
          bun install
          bunx playwright install --with-deps chromium

      - name: Run Scraper
        env:
          API_TOKEN: ${{ secrets.API_TOKEN }}
          BACKEND_URL: ${{ secrets.BACKEND_URL }}
        run: xvfb-run bun run index.js ${{ github.event.inputs.asin }}
